:root {
	--color-primary: #2c3e50;
	--color-primary-rgb: 44,62,80;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #273746;
	--color-primary-tint: #415162;

	--color-secondary: #85929E;
	--color-secondary-rgb: 133,146,158;
	--color-secondary-contrast: #000000;
	--color-secondary-contrast-rgb: 0,0,0;
	--color-secondary-shade: #75808b;
	--color-secondary-tint: #919da8;

	--color-tertiary: #D5D8DC;
	--color-tertiary-rgb: 213,216,220;
	--color-tertiary-contrast: #000000;
	--color-tertiary-contrast-rgb: 0,0,0;
	--color-tertiary-shade: #bbbec2;
	--color-tertiary-tint: #d9dce0;

	--color-success: #27AE60;
	--color-success-rgb: 39,174,96;
	--color-success-contrast: #ffffff;
	--color-success-contrast-rgb: 255,255,255;
	--color-success-shade: #229954;
	--color-success-tint: #3db670;

	--color-warning: #F39C12;
	--color-warning-rgb: 243,156,18;
	--color-warning-contrast: #000000;
	--color-warning-contrast-rgb: 0,0,0;
	--color-warning-shade: #d68910;
	--color-warning-tint: #f4a62a;

	--color-danger: #C0392B;
	--color-danger-rgb: 192,57,43;
	--color-danger-contrast: #ffffff;
	--color-danger-contrast-rgb: 255,255,255;
	--color-danger-shade: #a93226;
	--color-danger-tint: #c64d40;

	--color-medium: #7B8D8E;
	--color-medium-rgb: 123,141,142;
	--color-medium-contrast: #000000;
	--color-medium-contrast-rgb: 0,0,0;
	--color-medium-shade: #6c7c7d;
	--color-medium-tint: #889899;

	--color-light: #EAECEE;
	--color-light-rgb: 234,236,238;
	--color-light-contrast: #000000;
	--color-light-contrast-rgb: 0,0,0;
	--color-light-shade: #ced0d1;
	--color-light-tint: #eceef0;

};