// Variables for ease of customization
$navbar-height: 60px;
$navbar-background: #ffffff; // Adjust color to match your design
$navbar-button-spacing: 20px; 
$navbar-button-color: #333; // Adjust color to match your design
$navbar-button-hover-color: #555; // Adjust color to match your design

body {
    font-family: 'ClashDisplay-Light', sans-serif; // Adjust font as needed
    margin: 0;
    padding: 0;
}

.Navbar {
  height: $navbar-height;
  background: $navbar-background;
  display: flex;
  justify-content: space-between;
  padding: 0; // Removing the padding to ensure full width
  
  a {
    color: $navbar-button-color;
    text-decoration: none;
    padding: 0 $navbar-button-spacing;
    line-height: $navbar-height;
    transition: color 0.3s;

    &:hover {
      color: $navbar-button-hover-color;
    }

    &:first-child {
        padding-left: 40px;
        margin-right: auto; // This also contributes to pushing other links to the right
    }

    &:last-child {
      margin-right: $navbar-button-spacing; // Adjust the right margin of the last child
    }

    &:not(:first-child):not(:last-child) {
      margin-left: $navbar-button-spacing;
      margin-right: $navbar-button-spacing; // This ensures the spacing is consistent
    }
  }
}
