/* At the top of src/index.css */
@import url('./theme/custom-fonts.css');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'ClashDisplay-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold-text {
  font-family: 'ClashDisplay-Bold';
}

.light-text {
  font-family: 'ClashDisplay-Light';
}

.extralight-text {
  font-family: 'ClashDisplay-Extralight';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
